PORT=
MONGODB_USER=
MONGODB_PASSWORD=
MONGODB_URL=
MONGODB_DB=
NODE=
JWT_SECRET = # JWT secret key
SMTP_HOST= # SMTP server
SMTP_PORT= #SMTP port
SMTP_USER= #SMTP login
SMTP_PASSWORD= # SMTP password


CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

ENABLE_CLOUDINARY=
